<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="#/home" class="navbar-brand">Home</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-if="identity.isAuthenticated()">
                    <a href="#/play">Play</a>
                </li>
                <li>
                    <a href="#/high-scores">High scores</a>
                </li>
                <li>
                    <a href="#/how-to-play">How to play</a>
                </li>
                <li>
                    <a href="#/users">Users</a>
                </li>
            </ul>
            <div class="pull-right" ng-hide="identity.isAuthenticated()">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/login">Log in</a>
                    </li>
                    <li>
                        <a href="#/register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right nav navbar-nav" ng-controller="LogoutCtrl" ng-show="identity.isAuthenticated()" >
                <div >
                    <span class="panel-default bg-success username-panel">Welcome, {{identity.getCurrentUsername()}}</span>
                    <a href="#" ng-click="logout()">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>