<div class="container">
    <h3>Welcome to game: {{game.Name}}</h3>
    <h4>{{game.FirstPlayerName}} vs. {{game.SecondPlayerName}}</h4>
    <h4>You play with: {{game.FirstPlayerName == identity.getCurrentUser().userName ? 'X' : 'O'}}</h4>
    <h5>Game status: {{statuses[game.State]}}</h5>
    <table class="table table-bordered playField">
        <tbody>
            <tr>
                <td ng-click="play(1, 1)">{{game.Board[0]}}</td>
                <td ng-click="play(1, 2)">{{game.Board[1]}}</td>
                <td ng-click="play(1, 3)">{{game.Board[2]}}</td>
            </tr>
            <tr>
                <td ng-click="play(2, 1)">{{game.Board[3]}}</td>
                <td ng-click="play(2, 2)">{{game.Board[4]}}</td>
                <td ng-click="play(2, 3)">{{game.Board[5]}}</td>
            </tr>
            <tr>
                <td ng-click="play(3, 1)">{{game.Board[6]}}</td>
                <td ng-click="play(3, 2)">{{game.Board[7]}}</td>
                <td ng-click="play(3, 3)">{{game.Board[8]}}</td>
            </tr>
        </tbody>
    </table>
</div>