<div>
    <h3>High Scores</h3>
    <br/>
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Rank</th>
        </thead>
        <tbody>
            <tr ng-repeat="score in highScores">
                <td>{{$index}}</td>
                <td>{{score.PlayerName}}</td>
                <td>{{score.Games}}</td>
                <td>{{score.Wins}}</td>
                <td>{{score.Losses}}</td>
                <td>{{score.Draws}}</td>
                <td>{{score.Rank}}</td>
            </tr>
        </tbody>
    </table>
</div>